
{% extends "ecomapp/base.html" %}


{% block main %}
<h1></h1>
<div class="columns is-multiline">
    {% for product in products %}
      <div class="colum is-3">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                  <p class="title is-4"> Product : {{ product.title}} </p>
                  <p class="title is-4"> Price {{ product.price}} Euros</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
                  {{ product.slug}}
             <a href="/ecomapp/{{product.slug}}/">Details</a>
          </footer>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}
